@font-face {
	font-family: "Nelphim";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("web/Nelphim.woff2") format("woff2");
}

@font-face {
	font-family: "Nelphim";
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url("web/Nelphim-Italic.woff2") format("woff2");
}
